<html>
    <body>
        <br><br>
        <form action="/student">
            <label for="github"> Enter github id </label>
            <input type="text" name="github" />
            <input type="submit">
        </form>

        <br><br> 

        <h2>To add new student</h2>
        <form action="/newstudent">
            <label for="first_name"> Enter first name </label>
            <input type="text" name="first_name" /><br>
            <label for="last_name"> Enter last name </label>
            <input type="text" name="last_name" /><br>
            <label for="github"> Enter Github </label>
            <input type="text" name="github" /><br>
            <input type="submit">
        </form>

        <br><br>
        
        <h2>To add new project</h2>
        <form action="/newproject">
            <label for="title">Enter title</label>
            <input type="text" name="title" /><br>
            <label for="description">Enter description</label>
            <input type="text" name="description" /><br>
            <label for="max_grade">Enter max grade possible</label>
            <input type="text" name="max_grade" /><br>
            <input type="submit">
        </form>

    </body>

</html>